{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Limayhub{% endblock %}

{% block content%}
    <h1>Mon Compte </h1>
    Bienvenue {{ (app.user.firstname) }} dans votre Compte.<br/>
    <hr>
    -<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>

{% endblock %}
